---
layout: navbar_page
title: Intuitive Physics Electromagnetism
---

<main>
    <div class="head-content flex-container">
        <div class="flex-child foreword half-screen-desk">
            <p>
                Behold the full wonder of the laws of Electromagnetism!
                In this section, we explore the intuition and interconnection of the 5 laws of electromagnetism, the 4
                Maxwell's Equations and Lorentz force law.
            </p>
        </div>
        <div class="flex-child half-screen-desk">
            $$
            \nabla\cdot \textbf{E}=\frac{\rho}{\epsilon_0}
            \\
            \nabla\cdot \textbf{B}=0
            \\
            \nabla\times \textbf{E} = -\frac{\partial \textbf{B}}{\partial t}
            \\
            \nabla\times \textbf{B} = \mu_0 \textbf{j} + \mu_0\epsilon_0 \frac{\partial \textbf{E}}{\partial t}
            \\
            \textbf{F}=q(\textbf{E}+\textbf{v}\times\textbf{B})
            $$

        </div>
        <div class="clr"></div>
    </div>
    <div class="main-content">
        <h2>All E&M Posts</h2>
        <div class="flex-container post-container">
            {% for post in site.posts %}
            {% if post.tags contains "electromagnetism" %}
            <a href="{{ post.url }}" class="flex-child post-box">
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>