---
layout: navbar_page
title: Intuitive Physics Mechanics
permalink: mechanics
---

<main>
    <div class="head-content">
        <div class="float-child foreword half-screen">
            In this section, we will explore classical mechanics from Newtonian to Lagrangian. See how many equations on
            the right you can recognize, they all represent Newton's $2^{nd}$ Law!
        </div>
        <div class="float-child half-screen">
            $$
            F=ma
            \\
            \textbf{F}=m\textbf{a}
            \\
            \textbf{F}=\frac{d\textbf{p}}{dt}
            \\
            \frac{∂L}{∂x} = \frac{d}{dt}\frac{∂L}{∂x’}
            $$

        </div>
        <div class="clr"></div>
    </div>
    <div class="main-content">
        <h2>All Mechanics Posts</h2>
        <div class="flex-container post-container">
            {% for post in site.posts %}
            {% if post.tags contains "mechanics" %}
            <a href="{{ post.url }}" class="flex-child post-box">
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>