<footer>
    <div class="flex-container space-out small-text condensed">
        <div class="flex-child">
            <h4>Contacts</h4>
            <p><b>Email: </b>michaelyhuang23 (at) gmail (dot) com</p>
            <ul class="sep-list-small size-down">
                <li><a href="https://github.com/IntuitivePhysics">GitHub</a></li>
                <li><a href="https://www.instagram.com/michael_huang_23/">Instagram</a></li>
                <li><a href="https://www.linkedin.com/in/michael-huang-610661196/">LinkedIn</a></li>
                <li><a href="https://michaelyhuang23.github.io">Personal Website</a></li>
            </ul>
        </div>
        <div class="flex-child">
            <h4>Quick Links</h4>
            <ul class="sep-list-small size-down">
                <li><a href="otherblogs">Other Resources</a></li>
            </ul>
        </div>
        <div class="flex-child inline">
            <h4>Share this:</h4>
            {% include socialshare.html %}
        </div>
    </div>
</footer>