<header>
    <div class="float-child">
        <a href="/">
            <picture>
                <source srcset="
                        /assets/images/Intuitive-Physics.webp" type="image/webp">
                <source srcset="
                        /assets/images/Intuitive-Physics.jpg" type="image/jpg">
                <img id="logo" src="/assets/images/Intuitive-Physics.jpg" alt="Intuitive Physics Logo">
            </picture>
        </a>
    </div>
    <div class="float-child">
        <nav>
            <ul class="inline">
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.link }}" {% if page.url==item.link %}class="selected" {% endif %}>
                        {{item.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="clr"></div>
</header>