

.clr{
    clear:both;
}

*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(204, 200, 191)
}

body::before {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    content: '';
    background-image: url(/assets/images/wallpaper.jpg);
    background-attachment: fixed;
    //background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

.mainbody{
    width: 75%;
    margin-left: 25%;
}

header{
    background-color: rgba(46, 46, 48, 1);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.5);
}

.float-child{
    float: left;
}

h3{
    margin:15px;
}

header h1{
    margin:10px;
}

header nav{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

header ul{
    list-style: none;
}

nav li{
    display: inline;
    padding-left: 10px;
}


a{
    text-decoration: none;
    color:aliceblue;
}
a:hover{
    color:rgb(187, 195, 202);
}

nav a{
    font-size: larger;
}

.selected{
    font-weight: bolder;
}

main{
    overflow: hidden;
    position: relative;
}

.main-left{
    padding:35px;
    width: 80%;
    float:left;
    position: inherit;
    background-color: rgba(19, 19, 19, 0.8);
    box-sizing: border-box;
    padding-bottom: 15%;
}

.main-right{
    height: 100%;
    width: 20%;
    margin-left:80%;
    position: absolute;
    float:left;
    border-left:2px solid black;
    box-shadow: -5px -5px 20px 0px rgb(0, 0, 0);
    box-sizing: border-box;
}

.foreword{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:10px;
    line-height: 1.4em;
    box-sizing: border-box;
}

.main-content{
    margin-top: 25px;
}

.flex-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.space-out{
    justify-content: space-between;
}

.flex-child {
    margin: 10px;
}

.sidebar{
    position: fixed;
    background-color: rgba(32, 32, 32, 0.164);
    border-right: 2px solid black;
    box-shadow: 5px 5px 20px 0px rgb(0, 0, 0);
    width:25%;
    height: 100%;
    overflow-y: scroll;
}

img{
    max-width: 100%;
    max-height: auto;
}

.logo{
    margin: 15px;
    margin-bottom: 0;
    max-width: 100px;
    max-height: 100px;
}

.post-box{
    box-shadow: 5px 5px 30px 0px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    flex-basis: content;
    box-sizing: border-box;
}


.post-container a{
    display: block;
    text-decoration: none;
    font-family: 'Courier New', Courier;
}

.post-container a:hover{
    box-shadow: 5px 5px 20px 0px rgb(0, 0, 0);
    background-color: rgb(43, 43, 43);
}

.half-screen-desk{
    width: 400px;
}

.post-box h3{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.post-head{
    margin-top: 35px;
    margin-bottom: 35px;
}
.post-head h1{
    line-height: 1.4em;
    margin-bottom: 15px;
}

.padder{
    padding-left:10%;
    padding-right:10%;
    padding-top:25px;
    padding-bottom:25px;
}

.padder li{
    margin-bottom:15px;
}

footer{
    padding:15px;
    box-shadow: 0px -5px 25px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(46, 46, 46, 0.842);
}

.contact{
    font-size: small;
}

.main-content h2{
    margin-bottom: 10px;
}

.main-content p{
    line-height: 2em;
    padding-bottom: 10px;
}


.head-content p{
    line-height: 2em;
    padding-bottom: 10px;
}

.head-content h2{
    margin-bottom: 10px;
}
.head-content{
    margin-left: 15%;
    margin-right: 15%;
}

.head-sep{
    margin-top: 10%;
}

.post-content{
    background-color: rgba(19, 19, 19, 0.9);
    padding:65px;
    width: 85%;
    box-sizing: border-box;
}

.related-post{
    width: 15%;
    padding: 10px;
    padding-top: 10%;
    border-left: 2px solid black;
    box-shadow: -5px 5px 20px 0px rgb(0, 0, 0);
    box-sizing: border-box;
}

.related-post h4{
    margin-bottom: 15px;
}
.related-post h5{
    margin-bottom: 15px;
}


.float-child-desk{
    float: left;
}
.post-mid{
    line-height: 2em;
    font-size: large;
    ol{
        list-style: inside decimal;
        padding-left: 15px;
    }
    ul{
        list-style: inside square;
        padding-left: 15px;
    }
    h3{
        margin-top:30px;
        font-size: x-large;
    }
    h2{
        margin-top:35px;
        font-size: xx-large;
    }
    h4{
        margin-top:25px;
        font-size: larger;
    }
    h5{
        margin-top:15px;
    }
    p{
        margin-left: 15px;
        margin-top: 20px;
    }
}


@media only screen and (max-width: 768px) {
    
    .sidebar{
        display: none;
    }
    .mainbody{
        width: 100%;
        margin-left: 0;
    }
    .main-left{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        border: 2px solid black;
        box-shadow: 0px 0px 30px 0px rgb(0, 0, 0);
    }
    .main-right{
        display: none;
    }
    .post-content{
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 25px;
        padding-right: 25px;
        width: 96%;
        border: 2px solid black;
        box-shadow: 0px 5px 20px 0px black;
    }
    p{
        font-size: large;
    }
    .head-content{
        margin-left: 0;
        margin-right: 0;
    }
    .float-child-desk{
        float: none;
    }
    .related-post{
        width: auto;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        margin-left: 5%;
    }

}