

.clr{
    clear:both;
}

*{
    padding:0;
    margin:0;
    color:rgb(204, 200, 191)
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

// body {
//     background: url(/assets/images/wallpaper.jpg) center center no-repeat fixed;
//     background-size: cover;
// }
body .bgimage {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.mainbody{
    width: 100%;
    margin-left: 0;
}

header{
    background-color: rgba(46, 46, 48, 1);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.5);
}

.float-child{
    float: left;
}

h3{
    margin:15px;
}

header h1{
    margin:10px;
}

header nav{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

header ul{
    list-style: none;
}

nav li{
    display: inline;
    padding-left: 25px;
}


a{
    text-decoration: none;
    color:aliceblue;
}
a:hover{
    color:rgb(187, 195, 202);
}

nav a{
    font-size: larger;
}

.selected{
    font-weight: bolder;
}

main{
    overflow: hidden;
    position: relative;
}

.main-left{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid black;
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0);
    padding:35px;
    float:left;
    position: inherit;
    background-color: rgba(19, 19, 19, 0.8);
    box-sizing: border-box;
    padding-bottom: 15%;
}

.main-right{
    display: none;
}

.foreword{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:10px;
    line-height: 1.4em;
    box-sizing: border-box;
}

.main-content{
    margin-top: 25px;
}

.flex-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.space-out{
    justify-content: space-between;
}

.flex-child {
    margin: 10px;
}

.sidebar{
    display: none;
}

img{
    max-width: 100%;
    max-height: auto;
}

.logo{
    margin: 15px;
    margin-bottom: 0;
    max-width: 100px;
    max-height: 100px;
}

.post-box{
    box-shadow: 5px 5px 30px 0px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    flex-basis: content;
    box-sizing: border-box;
}


.post-container a{
    display: block;
    text-decoration: none;
    font-family: 'Courier New', Courier;
}

.post-container a:hover{
    box-shadow: 5px 5px 20px 0px rgb(0, 0, 0);
    background-color: rgb(43, 43, 43);
}

.half-screen-desk{
    width: 400px;
}

.post-box h3{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.post-head{
    margin-top: 35px;
    margin-bottom: 35px;
}
.post-head h1{
    line-height: 1.4em;
    margin-bottom: 15px;
}

.padder{
    padding-left:10%;
    padding-right:10%;
    padding-top:25px;
    padding-bottom:25px;
}

.padder li{
    margin-bottom:15px;
}

footer{
    padding:15px;
    box-shadow: 0px -5px 25px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(46, 46, 46, 0.842);
}

.contact{
    font-size: small;
}

.main-content h2{
    margin-bottom: 10px;
}

p{
    font-size: large;
}

.main-content p{
    line-height: 2em;
    padding-bottom: 10px;
}


.head-content p{
    line-height: 2em;
    padding-bottom: 10px;
}

.head-content h2{
    margin-bottom: 10px;
}
.head-content{
    margin-left: 0;
    margin-right: 0;
}

.head-sep{
    margin-top: 10%;
}

.post-content{
    margin-left: 2%;
    margin-right: 2%;
    padding:65px;
    padding-left: 25px;
    padding-right: 25px;
    width: 96%;
    border: 2px solid black;
    box-shadow: 0px 5px 20px 0px black;
    background-color: rgba(19, 19, 19, 0.9);
    box-sizing: border-box;
}

.related-post{
    width: auto;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    margin-left: 5%;
    padding: 10px;
    padding-top: 10%;
    line-height: 2em;
}

.related-post h4{
    margin-bottom: 15px;
}
.related-post h5{
    margin-bottom: 15px;
}


.float-child-desk{
    float: none;
}
.post-mid{
    line-height: 2em;
    font-size: large;
    ol{
        list-style: inside decimal;
        padding-left: 15px;
    }
    ul{
        list-style: inside square;
        padding-left: 15px;
    }
    h3{
        margin-top:30px;
        font-size: x-large;
    }
    h2{
        margin-top:35px;
        font-size: xx-large;
    }
    h4{
        margin-top:25px;
        font-size: larger;
    }
    h5{
        margin-top:15px;
    }
    p{
        margin-left: 15px;
        margin-top: 20px;
    }
    img{
        background: rgb(202, 202, 202);
    }
}

@media only screen and (min-width: 768px) {
    
    .sidebar{
        display: block;
        position: fixed;
        background-color: rgba(32, 32, 32, 0.164);
        border-right: 2px solid black;
        box-shadow: 5px 5px 20px 0px rgb(0, 0, 0);
        width:25%;
        height: 100%;
        overflow-y: scroll;
    }
    .mainbody{
        width: 75%;
        margin-left: 25%;
    }
    .main-left{
        width: 80%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        border: none;
        box-shadow: none;
    }
    .main-right{
        display: block;
        height: 100%;
        width: 20%;
        margin-left:80%;
        position: absolute;
        float:left;
        border-left:2px solid black;
        box-shadow: -5px -5px 20px 0px rgb(0, 0, 0);
        box-sizing: border-box;
    }
    .post-content{
        width: 85%;
        padding: 65px;
        margin: 0;
        box-sizing: border-box;
    }
    p{
        font-size: medium;
    }
    .head-content{
        margin-left: 15%;
        margin-right: 15%;
    }
    .float-child-desk{
        float: left;
    }
    .related-post{
        width: 15%;
        border-left: 2px solid black;
        box-shadow: -5px 5px 20px 0px rgb(0, 0, 0);
        margin-left: 0;
        line-height: 1em;
    }

}