@media only screen and (min-width: 600px) {
    .post-mid{
        padding-left: 10%;
    }
    .head-content{
        margin-left: 15%;
        margin-right: 15%;
    }
    .float-child-desk{
        float: left;
    }
}

.clr{
    clear:both;
}

*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("../images/bg3.jpg");
    background-position: center;
    background-repeat: repeat-y;
}

header{
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.5);
}

.float-child{
    float: left;
}

header h1{
    margin:10px;
}

header nav{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

header ul{
    list-style: none;
}

header li{
    display: inline;
    padding-left: 10px;
}

header a{
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.selected{
    font-weight: bolder;
}

header a:hover{
    text-decoration: none;
    color: rgb(71, 71, 71);
}

main{
    margin: 35px;
}

.foreword{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:10px;
    line-height: 1.4em;
    box-sizing: border-box;
}

.main-content{
    margin-top: 25px;
}

.flex-container {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
}

.flex-child {
    margin: 10px;

}

.post-box{
    box-shadow: 10px 10px 30px 0px rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(230, 230, 230);
    padding: 15px;
    flex-basis: 340px;
    box-sizing: border-box;
}

.post-container a{
    display: block;
    color: rgb(26, 26, 26);
    text-decoration: none;
    font-family: 'Courier New', Courier;
}

.post-container a:hover{
    color: rgb(80, 80, 80);
    box-shadow: 5px 5px 20px 0px rgb(0, 0, 0);
}

.half-screen{
    width: 50%;
}

.post-box h3{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.post-head{
    margin-top: 35px;
    margin-bottom: 35px;
}
.post-head h1{
    line-height: 1.4em;
    margin-bottom: 15px;
}

footer{
    box-shadow: 0px -5px 25px 0px rgba(0, 0, 0, 0.5);
    color: rgb(26, 26, 26);
}

.contact{
    font-size: small;
    font:italic;
}

.contact a{
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.contact a:hover{
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.main-content h2{
    margin-bottom: 10px;
}

.main-content p{
    line-height: 2em;
    padding-bottom: 10px;
}


.head-content p{
    line-height: 2em;
    padding-bottom: 10px;
}

.head-content h2{
    margin-bottom: 10px;
}

p a{
    text-decoration: underline;
    color: rgb(26, 26, 26);
}
p a:hover{
    color: rgb(80, 80, 80);
}

.post{
    margin:35px;
}

.related-post{
    width: 15%;
    margin-top: 10%;
    border-left: 2px ridge black;
    padding: 10px;
    box-sizing: border-box;
}

.related-post h4{
    margin-bottom: 15px;
}
.related-post h5{
    margin-bottom: 15px;
}
.related-post a{
    text-decoration: none;
    color: rgb(26, 28, 109);
    font-weight: bolder;
}

.related-post a:hover{
    text-decoration: none;
    color: rgb(26, 26, 26);
    font-style: italic;
}

.post-mid{
    width: 85%;
    padding-right: 5%;
    box-sizing: border-box;
    line-height: 2em;
    font-size: large;
    a{
        text-decoration: underline;
        color: rgb(26, 26, 26);
    }
    a:hover{
        color: rgb(80, 80, 80);
    }
    ol{
        list-style: inside decimal;
        padding-left: 15px;
    }
    ul{
        list-style: inside square;
        padding-left: 15px;
    }
    h3{
        margin-top:30px;
        font-size: x-large;
    }
    h2{
        margin-top:35px;
        font-size: xx-large;
    }
    h4{
        margin-top:25px;
        font-size: larger;
    }
    h5{
        margin-top:15px;
    }
    p{
        margin-left: 15px;
        margin-top: 20px;
    }
}
