---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% seo title=false %}
    {% feed_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
    

    <link rel="shortcut icon" type="image/webp" href="/assets/images/Intuitive-Physics.webp">
    {% include analytics.html %}
</head>


<body>
    <picture>
        <source srcset="
            /assets/images/wallpaper.webp" type="image/webp">
        <source srcset="
            /assets/images/wallpaper.jpg" type="image/jpeg">
        <img class="bgimage" src="/assets/images/wallpaper.jpg" alt="">
    </picture>
    {{ content }}
    <link rel="stylesheet" href="/assets/katex/katex.min.css">
    <script defer src="/assets/katex/katex.min.js"></script>
    <script defer src="/assets/katex/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
</body>

</html>