<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% seo title=false %}
    {% feed_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js" integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body,{delimiters: [
    		    {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]});
        });
    </script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/webp" href="/assets/images/Intuitive-Physics.webp">

    {% include analytics.html %}
</head>


<body>
    <img src="/assets/images/wallpaper.webp" class='bgimage'>
    <div class="sidebar">
        <div class="foreword">
            <h3>Michael Huang</h3>
            <img src="/assets/images/selfie.webp" alt="Image of Michael Huang">
            <p>I am a physics student and enthusiast with an unquenchable
                desire to learn and fully understand every physics concept!</p>
            <h3>Purpose of this blog</h3>
            <p>To share interesting yet often omitted insights into various topics in classical physics.</p>
        </div>
    </div>
    <div class="mainbody">

        <header>
            <div class="float-child">
                <a href="/index.html">
                    <img class="logo" src="/assets/images/Intuitive-Physics.webp" alt="Intuitive Physics Logo">
                </a>
            </div>
            <div class="float-child">
                <nav>
                    <ul>
                        {% for item in site.data.navigation %}
                        <li>
                            <a href="{{item.link}}" {% if page.url==item.link %}class="selected" {% endif %}>
                                {{item.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="clr"></div>
        </header>

        {{ content }}

        <footer>
            <div class="flex-container space-out">
                <div class="flex-child contact">
                    <h4>Contacts</h4>
                    <p><b>Email: </b>michaelyhuang23 (at) gmail (dot) com</p>
                    <div>
                        <a href="https://github.com/IntuitivePhysics">GitHub</a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/michael_huang_23/">Instagram</a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/michael-huang-610661196/">LinkedIn</a>
                    </div>
                    <div>
                        <a href="https://michaelyhuang23.github.io">Personal Website</a>
                    </div>
                </div>
                <div class="flex-child contact">
                    <h4>Quick Links</h4>
                    <p><a href="otherblogs">other resources</a></p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>